#nav-bar h1{
  float: none;
  text-align: center;

}

#nav-bar ul,
#nav-bar ul li{
  float: none;

}
#nav-bar ul li a{
  padding: 5px;
  border-bottom: #444 dotted 1px;
}
#showcase .showcase-content{
  height: 100%;
  padding-top: 70px;
  padding-bottom: 30px;
}
#home-info{
  height: 550px;
}

#home-info .info-img{
  display: none;
}

#home-info .info-content{
float: none;
width: 100%;
}

.box{
  float: none;
  width: 100%;
}
#about-info .info-right{
  float: none;
  width: 100%;
  min-height: 100%;
  margin-top: 30px;
}
#about-info .info-left{
  float: none;
  width: 100%;
  min-height: 100%;
}

.l-heading{
  text-align: center;
}

#contact-info .box{
  border-bottom: #444 dotted 1px;
}
