/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main styling */

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a{
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {

  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}



/* ultility (class styling) */
.primary-color{
  color: #f7c08a;
}

.lead{
  font-size: 20px;
}

.container{
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.btn{
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}
.btn-light{
  background: #f4f4f4;
  color: #333;
}

.btn:hover {
  background: #f7c08a;
  color:#333;
}
.bg-dark{
background: #333;
color: #fff;
}

.bg-light{
  background: #f4f4f4;
  color: #333;
}

.bg-primary{
  color: #333;
  background: #f7c08a;
}

.box{
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}

.box i{
  margin-bottom: 10px;
}
.clr{
  clear: both;
}

/* padding */
.py-1{  padding: 10px; }
.py-2{  padding: 20px; }
.py-3{  padding: 30px; }

.l-heading{
  font-size: 40px;
  line-height: 1.2;
}
.offer-imgs{
  width: 40%;
  display: block;
  margin: auto;
  max-height:none;
}
/* nav-bar styling */
#nav-bar {
  background-color: #333;
  color: #fff;
  overflow: auto;
}

#nav-bar a {
  color: #fff;
}

#nav-bar h1 {
  float: left;
  padding-top: 20px;
}

#nav-bar ul{
list-style: none;
  float: right;


}

#nav-bar ul li {
  float: left;
}
#nav-bar ul li a{
  display: block;
  padding: 20px;
  text-align: center;
}

#nav-bar ul li a:hover,
#nav-bar ul li a.current{
  color: #f7c08a;
  background-color: #444;
}

/* showcase */

#showcase {
background: URL('../imgs/showcase.jpg') no-repeat center center/cover;
height: 600px;

}

#showcase .showcase-content{
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content h1{
font-size: 60px;
line-height: 1.2em;
}

#showcase .showcase-content p{

  padding-bottom: 20px;
  line-height: 1.7em;
}

#home-info{
  height: 400px;
}
#home-info .info-img{
  float: left;
  width: 50%;
  background: URL('../imgs/photo-1.jpg') no-repeat;
  min-height: 100%;
}

#home-info .info-content{
  padding: 40px;
  float: right;
  width: 50%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  min-height: 100%;

}

#home-info .info-content p{
  padding-bottom: 40px;
}

/* About */

#about-info .info-right{
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img{
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 10%;
}

#about-info .info-left{
  float: left;
  width: 50%;
  min-height: 100%;
}

#testimonials h2{
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
}

#testimonials .testimonial {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.9;
}

#testimonials .testimonial img{
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}


#testimonials{
  height: 100%;
  background: URL('../imgs/test-bg.jpg') no-repeat
  center center/cover;
  padding-top: 100px;

}
#offer-pic{
  height: 600px;
  background: URL('../imgs/reception.jpg') no-repeat
  center center/cover;
  padding-top: 100px;
  margin-bottom: 0px;
}

#contact-form{
  margin-bottom: 20px;
}

#contact-form label{
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea{
  width: 100%;
  padding: 20px;
  border: 1px #ddd solid;
}

#contact-form input:focus,
#contact-form textarea:focus{
  outline: none;
  border-color: #f7c08a;
}

/* #offer-info .info-left{
  float: left;
  width: 50%;
  min-height: 100%;
}

#offer-info .info-right img{
  display: block;
  margin: auto;
  width: 30%;
  border-radius: 10%;
} */


#offer-info .offer-textsection{
  float: left;
  width: 50%;
  min-height: 100%;
}

#offer-heading{
  color: #f7c08a;

}

/* footer */
#main-footer{
  text-align: center;
  background: #444;
  color: white;
  padding: 20px;
}
